* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Bree Serif', serif;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 6.25rem;
    background-color: black;
    color: white;
    font-family: 'Bree Serif', serif;
    border-bottom: 5px solid white;
    opacity: 0.5;
}

.nav-list {
    display: inline-flex;
    justify-content: flex-start;
    align-content: center;
    text-decoration: none;
    font-size: 2rem;
    align-items: center;
    list-style-type: none;
    padding-left: 1rem;
}

li a {
    display: flex;
    color:hsl(170, 82%, 66%);
    padding-left: 1rem;
    padding-right: 1rem;
}

.fa-facebook:hover {
    background-color: hsl(170, 82%, 66%);
}

.fa-instagram:hover {
    background-color: hsl(170, 82%, 66%); 
}

.fa-envelope:hover {
    background-color: hsl(170, 82%, 66%);
}

.nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 6.25rem;
    padding-top: 1.5rem;
}

.fa-facebook {
    display: flex;
    font-size: 3.125rem;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items: center;
    align-content: center;
    
} 

.fa-instagram {
    display: flex;
    font-size: 3.125rem;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items: center;
    align-content: center;
}

.fa-envelope {
    display: flex;
    font-size: 3.125rem;
    padding-left: 2rem; 
    padding-right: 2rem;
    align-items: center; 
    align-content: center;
}

.intro-box {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 30rem;
    flex-wrap: wrap;
    background-image: url('./resources/images/threads.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

.club-name {
    width: 100%;
    justify-content: center;
    align-content: center;
    line-height: 1.4;
    font-size: 3rem;
    color: white;
    background-color: #FF7EB1;
    text-align: center;
    margin: 0;
} 

.motto {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3rem;
    flex-wrap: wrap;
    margin: 0;
    flex-wrap: wrap;
}

.motto-header {
    width: 100%;
    justify-content: center;
    align-content: center;
    line-height: 1.4;
    font-size: 3rem;
    color: white;
    background-color: #FF7EB1;
    text-align: center;
    margin: 0;
}

.motto-text-box {
    display: flex;
    background-color: hsl(170, 82%, 66%, 0.5);
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
}

.motto-text {
    width: 70%;
    font-size: 2rem;
    line-height: 1.4;
    margin: auto;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.projects-box {
    display: flex;
    margin: 0;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}

img.bears {
    width: 25%;
}

img.doll {
    width: 25%;
}

img.stocking {
    width: 25%;
}

img.shawl {
    width: 25%;
}

.projects-header {
    width: 100%;
    justify-content: center;
    line-height: 1.4;
    font-size: 3rem;
    color: white;
    background-color: #FF7EB1;
    text-align: center;
    margin: 0;
    align-items: center;
}

.footer {
    display: inline-flex;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 4rem;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer-left {
    font-size: 1rem;
    padding-left: 1rem;
}
    
.footer-right {
    font-size: 1rem;
    padding-right: 1rem;
}

@media screen and (min-width: 320px) {

    img.bears {
        width: 100%;
    }
    
    img.doll {
        width: 100%;
    }
    
    img.stocking {
        width: 100%;
    }
    
    img.shawl {
        width: 100%;
    }

    html {
        font-size: 12px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        height: 6.25rem;
        background-color: black;
        color: white;
        font-family: 'Bree Serif', serif;
        border-bottom: 5px solid white;
        opacity: 0.5;
    }
    
    .nav-list {
        display: inline-flex;
    justify-content: flex-start;
    justify-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 1.5rem;
    align-items: center;
    list-style-type: none;
    padding-left: 2rem;
        
    }
    
    li a {
        display: flex;
        color:hsl(170, 82%, 66%);
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    
    .fa-facebook:hover {
        background-color: hsl(170, 82%, 66%);
    }
    
    .fa-instagram:hover {
        background-color: hsl(170, 82%, 66%); 
    }
    
    .fa-envelope:hover {
        background-color: hsl(170, 82%, 66%);
    }
    
    .nav-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 6.25rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        flex-wrap: wrap;
    }
    
    .fa-facebook {
        display: flex;
        font-size: 1.5rem;
        padding-right: 0.25rem;
        padding-left: 0.25rem;
        align-items: center;
        align-content: center;
        
    } 
    
    .fa-instagram {
        display: flex;
        font-size: 1.5rem;
        padding-right: 0.25rem;
        padding-left: 0.25rem;
        align-items: center;
        align-content: center;
    }
    
    .fa-envelope {
        display: flex;
        font-size: 1.5rem;
        padding-left: 0.25rem;
        padding-right: 2rem;
        align-items: center; 
        align-content: center;
    }
    
}

@media screen and (min-width: 768px) {
    img.bears {
        width: 25%;
    }
    
    img.doll {
        width: 25%;
    }
    
    img.stocking {
        width: 25%;
    }
    
    img.shawl {
        width: 25%;
    }

    html {
        font-size: 16px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        height: 6.25rem;
        background-color: black;
        color: white;
        font-family: 'Bree Serif', serif;
        border-bottom: 5px solid white;
        opacity: 0.5;
        padding-left: 2rem;
    }
    
    .nav-list {
        display: inline-flex;
        justify-content: flex-start;
        justify-items: flex-start;
        align-content: center;
        flex-wrap: wrap;
        text-decoration: none;
        font-size: 1.5rem;
        align-items: center;
        list-style-type: none;
        padding-left: 0;  
    }
    
    li a {
        display: flex;
        color:hsl(170, 82%, 66%);
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    
    .fa-facebook:hover {
        background-color: hsl(170, 82%, 66%);
    }
    
    .fa-instagram:hover {
        background-color: hsl(170, 82%, 66%); 
    }
    
    .fa-envelope:hover {
        background-color: hsl(170, 82%, 66%);
    }
    
    .nav-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 6.25rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        flex-wrap: wrap;
    }
    
    .fa-facebook {
        display: flex;
        font-size: 1.5rem;
        padding-right: 0.25rem;
        padding-left: 0.25rem;
        align-items: center;
        align-content: center;
        
    } 
    
    .fa-instagram {
        display: flex;
        font-size: 1.5rem;
        padding-right: 0.25rem;
        padding-left: 0.25rem;
        align-items: center;
        align-content: center;
    }
    
    .fa-envelope {
        display: flex;
        font-size: 1.5rem;
        padding-left: 0.25rem;
        padding-right: 2rem;
        align-items: center; 
        align-content: center;
    }
}

